<!DOCTYPE html>
<html lang="uk">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Про нас | Платформа Питомо</title>

  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/about.css') }}">
</head>

<body>

<header class="header">

  <img class="logo"
       src="{{ url_for('static', filename='images/Лого.svg') }}"
       alt="Платформа Питомо" />

  <nav class="nav">

    <a href="{{ url_for('home') }}"
       class="nav-item">

      <img src="{{ url_for('static', filename='images/іконка_home.svg') }}"
           alt="" />

      <div class="nav-text">
        <span>Домашня</span>
        <small>Основна інформація</small>
      </div>

    </a>

    <a href="{{ url_for('dictionary') }}"
       class="nav-item">

      <img src="{{ url_for('static', filename='images/іконка_словник.svg') }}"
           alt="" />

      <div class="nav-text">
        <span>Словник</span>
        <small>Англізми та відповідники</small>
      </div>

    </a>

    <a href="{{ url_for('improve') }}"
       class="nav-item">

      <img src="{{ url_for('static', filename='images/іконка_text_improvement.svg') }}"
           alt="" />

      <div class="nav-text">
        <span>Покращити текст</span>
        <small>Прибрати англізми з тексту</small>
      </div>

    </a>

  </nav>

</header>

<main>

  <section class="about-title">

    <img src="{{ url_for('static', filename='images/About_us_title.svg') }}"
         alt="Ласкаво просимо до платформи Питомо" />

  </section>

  <section class="about-section">

    <img src="{{ url_for('static', filename='images/About_us_section.svg') }}"
         alt="Інформація про платформу Питомо" />

  </section>

  <section class="suggest-banner">

    <h2>
      Знайшов англізм?<br>
      Запропонуй відповідник
    </h2>

    <a href="{{ url_for('suggest') }}"
       class="main-button">

      Запропонувати англізм

    </a>

  </section>

</main>

<footer class="footer">

  <div class="footer-links">

    <a href="{{ url_for('about') }}"
       class="active-footer">

      Про нас

    </a>

    <a href="{{ url_for('contacts') }}">
      Контакти
    </a>

  </div>

  <div class="footer-bottom">
    Розробили Фещак Анастасія та Грищук Вікторія
  </div>

</footer>

</body>
</html>